Repository openshift/windows-machine-config-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: windows-machine-config-operator-bundle-master-on-pull-request, windows-machine-config-operator-bundle-master-on-push

Path conditions:
  windows-machine-config-operator-bundle-master-on-pull-request: any of: build/bundle-konflux.Dockerfile
  windows-machine-config-operator-bundle-master-on-push: (any of: Containerfile.bundle) or (any of: bundle/***)

[test] Update Azure MachineSet spec
  test/e2e/providers/azure/azure.go
Due: none

[build] Update konflux build files
  .tekton/images-mirror-set.yaml
  .tekton/windows-machine-config-operator-bundle-release-4-12-pull-request.yaml
  .tekton/windows-machine-config-operator-bundle-release-4-12-push.yaml
  .tekton/windows-machine-config-operator-release-4-12-pull-request.yaml
  .tekton/windows-machine-config-operator-release-4-12-push.yaml
  Containerfile
  Containerfile.bundle
  build/bundle-konflux.Dockerfile
Due: windows-machine-config-operator-bundle-master-on-pull-request, windows-machine-config-operator-bundle-master-on-push

[bundle] Set fips compliance to true
  bundle/manifests/windows-machine-config-operator.clusterserviceversion.yaml
  config/manifests/bases/windows-machine-config-operator.clusterserviceversion.yaml
Due: windows-machine-config-operator-bundle-master-on-push

Fix WMCO/WICD's go build command to FIPS compliant
  build/Dockerfile
  build/Dockerfile.base
  build/Dockerfile.ci
  build/Dockerfile.wmco
  build/build.sh
Due: none

[vendor] Vendor missing file
  vendor/github.com/go-errors/errors/cover.out
Due: none

e2e: fix unknown verb in message
  test/e2e/certificates_test.go
Due: none

e2e: ignore SSH known hosts
  test/e2e/validation_test.go
Due: none

[registry_ctrl] Avoid changing deleted nodes
  controllers/registry_controller.go
Due: none

[build] Update WMCO digest
  Containerfile.bundle
Due: windows-machine-config-operator-bundle-master-on-push

Run with GOEXPERIMENT var strictfipsruntime
  Containerfile
Due: none

[build] Update kubelet version to v1.29.14+7cf4c05
  Makefile
Due: none

[vendor] Use v1.29.14+7cf4c05 k8s and OpenShift libraries
  go.mod
  go.sum
  vendor/k8s.io/cli-runtime/pkg/printers/json.go
  vendor/k8s.io/cli-runtime/pkg/printers/jsonpath.go
  vendor/k8s.io/cli-runtime/pkg/printers/name.go
  vendor/k8s.io/cli-runtime/pkg/printers/template.go
  vendor/k8s.io/cli-runtime/pkg/printers/yaml.go
  vendor/k8s.io/cli-runtime/pkg/resource/builder.go
  vendor/k8s.io/client-go/tools/remotecommand/v4.go
  vendor/k8s.io/kubectl/pkg/cmd/util/helpers.go
  vendor/k8s.io/kubectl/pkg/util/templates/help_flags_printer.go
  vendor/modules.txt
Due: none

vendor: bump oauth2 to v0.29.0
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: none

vendor: bump crypto to v0.37.0
  go.mod
  go.sum
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_loong64.s
  vendor/golang.org/x/crypto/internal/poly1305/sum_ppc64x.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/cpu/cpu.go
  vendor/golang.org/x/sys/cpu/cpu_linux_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_linux_noinit.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.go
  vendor/golang.org/x/sys/cpu/cpu_loong64.s
  vendor/golang.org/x/sys/cpu/parse.go
  vendor/golang.org/x/sys/unix/syscall_darwin.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_amd64.s
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_darwin_arm64.s
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/registry/value.go
  vendor/golang.org/x/sys/windows/svc/mgr/config.go
  vendor/golang.org/x/sys/windows/svc/mgr/mgr.go
  vendor/golang.org/x/sys/windows/svc/mgr/recovery.go
  vendor/golang.org/x/sys/windows/svc/mgr/service.go
  vendor/golang.org/x/sys/windows/svc/service.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Due: none

vendor: bump aws-sdk-go to v1.55.7
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/modules.txt
Due: none

vendor: fix golang-jwt to v4.5.2
  go.mod
  vendor/modules.txt
Due: none

vendor: use openshift/golang-crypto v0.33.1
  go.mod
  vendor/modules.txt
Due: none

vendor: use openshift/golang-oauth2 v0.26.1
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/google.golang.org/appengine/LICENSE
  vendor/google.golang.org/appengine/internal/api.go
  vendor/google.golang.org/appengine/internal/api_classic.go
  vendor/google.golang.org/appengine/internal/api_common.go
  vendor/google.golang.org/appengine/internal/app_id.go
  vendor/google.golang.org/appengine/internal/base/api_base.pb.go
  vendor/google.golang.org/appengine/internal/base/api_base.proto
  vendor/google.golang.org/appengine/internal/datastore/datastore_v3.pb.go
  vendor/google.golang.org/appengine/internal/datastore/datastore_v3.proto
  vendor/google.golang.org/appengine/internal/identity.go
  vendor/google.golang.org/appengine/internal/identity_classic.go
  vendor/google.golang.org/appengine/internal/identity_flex.go
  vendor/google.golang.org/appengine/internal/identity_vm.go
  vendor/google.golang.org/appengine/internal/internal.go
  vendor/google.golang.org/appengine/internal/log/log_service.pb.go
  vendor/google.golang.org/appengine/internal/log/log_service.proto
  vendor/google.golang.org/appengine/internal/main.go
  vendor/google.golang.org/appengine/internal/main_common.go
  vendor/google.golang.org/appengine/internal/main_vm.go
  vendor/google.golang.org/appengine/internal/metadata.go
  vendor/google.golang.org/appengine/internal/net.go
  vendor/google.golang.org/appengine/internal/regen.sh
  vendor/google.golang.org/appengine/internal/remote_api/remote_api.pb.go
  vendor/google.golang.org/appengine/internal/remote_api/remote_api.proto
  vendor/google.golang.org/appengine/internal/transaction.go
  vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.pb.go
  vendor/google.golang.org/appengine/internal/urlfetch/urlfetch_service.proto
  vendor/google.golang.org/appengine/urlfetch/urlfetch.go
  vendor/modules.txt
Due: none

digest update
  Containerfile.bundle
Due: windows-machine-config-operator-bundle-master-on-push

[Containerfile.bundle] Update operator image digest
  Containerfile.bundle
Due: windows-machine-config-operator-bundle-master-on-push

[build] Update kubelet version to v1.32.4+f6cfe0c
  Makefile
Due: none

[vendor] Use v1.32.4+f6cfe0c k8s and OpenShift libraries
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/image/v1/generated.proto
  vendor/github.com/openshift/api/image/v1/types.go
  vendor/github.com/openshift/api/image/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machineconfiguration/v1/register.go
  vendor/github.com/openshift/api/machineconfiguration/v1/types_machineconfignode.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/extramapping.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/tokenclaimmappings.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/tokenclaimorexpressionmapping.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/utils.go
  vendor/k8s.io/apiserver/pkg/cel/library/cidr.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/modules.txt
Due: none

[build] Update kubelet version to v1.28.15+f383677
  Makefile
Due: none

[build] Update kubelet version to v1.30.11+89ebee0
  Makefile
Due: none
